main{
  margin: 2rem;
}

h1,p{
  margin: 5rem;
}
h2{
  margin: 2rem;
  text-align: left;
}

.med-sub{
  padding: 2 rem;
  margin:1 rem;
}

.unorder-med{
  margin:3rem;
}

li{
  margin: 2rem;
}

footer{
  background: var(--clr-darkblue);
  margin: 2rem;
}
